.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 1rem auto 1.5rem auto;
}

.container h2 {
    margin-bottom: 0.5rem;
}

.container p:nth-of-type(1) {
    margin-bottom: 0;
}

.container p:nth-of-type(2) {
    margin-top: 0;
}

.container img {
    width: 100%;
    margin: 1rem 0;
}

.list {
    margin-top: 0;
}

.container ul li:nth-of-type(1) p {
    margin-top: 0.2rem;
}

@media screen and (min-width: 1024px) {
    .container {
        width: 70%;
        margin: 2.5rem auto;
    }

    .container img {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .list p {
        margin: 0.2rem 0 0 0;
    }
}
